.terms{

  border-top: 1px solid var(--input-stroke);
  padding-top: 2.5rem;
}




.checkbox-wrapper{
 
 display: flex;
 align-items: center;
 position: relative;

 & input{
  all: unset;
  position: absolute;
  inset: 0;
  width: 1.25rem;
  
 }
 
 label{
  all: unset;
  margin-left: .75rem;
  font: var(--body-sm);
  color: var(--text-body);
  cursor: pointer;

  a {
    color: var(--brand-light);


    
  }


 }

  
  .checkbox-image{
    width: 1.25rem;
    height: 1.25rem;
    background-image: url(../../assets/icons/checkbox-default.svg);
    background-size: cover;
  }

  &:focus-within, &:hover{
    .checkbox-image{
      background-image: url(../../assets/icons/checkbox-hover.svg);
    }
  }

  &:has(:checked){
    .checkbox-image{
      background-image: url(../../assets/icons/checkbox-checked.svg);
    }
  }
}
 


